/* CSS BY DYLAN ALFANO */

/* IMPORTED FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ROOT VARIABLES */
:root {
    --blue: #007BFF;
    --red: #FF4500;
    --white: #EAEAEA;
    --black: #000000;
    --charcoal: #333333;
    --font: "Inter", sans-serif;
}

/* GLOBAL STYLES (MOBILE FIRST (SMALL) */

body {
    min-width: 400px;
    background-color: var(--white);
    font-family: var(--font);
    line-height: 1.5;
}

a {
    color: var(--white);
    text-decoration: none;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* header styling */

header {
    background-color: var(--black);
    color: var(--blue);
    padding: 1vh 0vh;
    width: 100%;
}


header * {
    display: flex;
    flex-direction: row;
    padding: 1vw;
}

h1 {
    font-weight:bolder;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    font-weight: bolder;
    text-align: left;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

img {
    content: "";
    left:-.5rem;
    width: 3.75rem;
    height: 3.75rem;
    background: url('images/vanguard-logo.svg') no-repeat center/contain;
    animation: float .3s ease-in-out infinite;
    animation-duration: 3s;
}

/* floating logo animation  */

@keyframes float {
    0% {transform: translateY(0)}
    50% {transform: translateY(-1vw)}
    100% {transform: translateY(0)}
}

/* HAMBURGER navigation styling */

nav {
    background-color: transparent;
    position: absolute;
    right: -5vw;
    top: 3vh;
}

nav ul {
    width: 100%;
    margin: 0vw;
    padding: 0vw;
    list-style: none;
    overflow: hidden;
    text-align: left;
    max-height: 0vh;
}

nav h2 {
    visibility: hidden;
    height: 1px;
}

nav li a {
    display: block;
    font-family: var(--font);
    font-size: 1.2rem;
    padding: 1rem;
    text-transform:uppercase;
    font-weight: bold; 
    text-decoration: none;
    font-variant: small-caps;
    color: var(--blue);
    transition: background-color .3s ease-in;
}

nav a:hover, nav input:hover {
    color: var(--black);
    background-color: var(--blue);
    transition: all .2s ease-in-out;
}

nav label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    user-select: none;
}

/* burger lines */

nav label span {
    background-color: var(--white);
    display: block;
    height: .25rem;
    position: relative;
    transition: background-color .3s ease-in;
    width: 2rem;
}

nav label span:before, label span:after {
    background: var(--white);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

nav label span:before {
    top: .75rem;
}

nav label span:after {
    top: -.75rem;
}

/* NB gets rid of checkbox for NAV ONLY*/
nav input {
    display: none;
}

nav input:checked ~ .dropdown-content {
    max-height: 400px;
    background-color: var(--black);
}

/* nav burger animations */

nav input:checked ~ label span {
    background: transparent;
}

nav input:checked ~ label span:before {
    transform: rotate(-45deg);
}

nav input:checked ~ label span:after {
    transform: rotate(45deg);
}

nav input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
    top: 0;
}

/* innovation styling */

#innovation {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('images/vanguard-hero.jpg') no-repeat center center/cover;
    height: 70vh;
    display: grid;
    place-items: center;
    text-align: center;
    padding: 1rem;
    overflow: hidden;
    color: var(--white);
}

/* (Photo by Kevin Matos on Unsplash)  */

#innovation h2 {
    font-weight: bold;
    font-size: 2rem;
}

#innovation a {
    font-weight: bolder;
    font-size: 1.5rem;
    background-color: var(--blue);
    padding: 1.5vh 3vw;
    border-radius: 5px;
    display: inline-block;
    animation: text ease-in;
    animation-duration: 1s;
}


@keyframes text {
    0% {
        opacity: 0;
        transform: translateY(-1vh);
    }
    25% {
        opacity: .25;
        transform: translateY(-.5vh);
    }
    50% {
        opacity: .5;
        transform: translateY(-.25vh);
    }
    75% {
        opacity: .75;
        transform: translateY(0vh);
    }
    100% {
        opacity: 1;
        transform: translateY(.1vh);
    }
}


#innovation a:hover {
    background-color: var(--red);
    cursor: pointer; 
    transform: scale(1.05);
    transition: all .2s ease-in;
}

/* about styling */

#about {
    padding: 3vh 0vw;
}

#services section {
    display: flex;
    flex-direction: column;
    background-color: var(--blue);
    color: var(--white);
    padding: 2vh 5vw;
    border-radius: 8px;
    margin: 1vh 0vw;
}

#services section:hover {
    transform: translateY(-1vh);
    transition: .3s ease-in-out;
    transition-delay: .2s;
}

#results {
    background-color: var(--blue);
    color: var(--white);
    padding: 2vh 0vw;

}

#results h3 {
    padding: 2vh 1vw;
}

table {
    margin: auto;
}

th, td {
    padding: 2vh 2vw;
}

th {
    font-weight: bold;
    text-align: center;
    background-color: var(--black);
}

tr {
    text-align: center;
    background-color: var(--charcoal);
}

tr:nth-child(even) {
    background-color: var(--black);
}


#contact {
    color: var(--white);
    background-color: var(--black);
    padding: 3vh 0vw;
}

form {
    font-size: .8rem;
    width: 90%;
    margin: auto;
}


input, textarea, select, label {
    display: block;
    padding: 1vh 1vw;
}

input, textarea {
    width: 80%;
    border: 3px var(--blue) inset;
}

input:focus, textarea:focus {
    border: 5px var(--blue) inset;
}

#submit {
    margin-top: 2vh;
    font-weight: bolder;
    font-size: 1rem;
    text-transform: uppercase;
    background-color: var(--blue);
    color: var(--white);
    padding: 1.5vh 3vw;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 90%
}

#submit:hover {
    background-color: var(--red);
    cursor: pointer; 
    transform: scale(1.05);
    transition: all .2s ease-in;
}


footer {
    background-color: var(--black);
    color: white;
    text-align: center;
    font-size: .8rem;
}

footer a {
    color: var(--blue);
    text-decoration: underline;
}

/* floating header animations  */

.float {
    animation: text ease-in;
    animation-duration: 1s;

} 

@keyframes text {
    0% {
        opacity: 0;
        transform: translateY(-1vh);
    }
    25% {
        opacity: .25;
        transform: translateY(-.5vh);
    }
    50% {
        opacity: .5;
        transform: translateY(-.25vh);
    }
    75% {
        opacity: .75;
        transform: translateY(0vh);
    }
    100% {
        opacity: 1;
        transform: translateY(.1vh);
    }
}



/* THIS ONE IS DONE FOR YOU */
#bar-chart {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: flex-end;
    justify-content: space-around;
    gap: 1rem;
    height: 300px;
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    position: relative;
}
/* ADD ON TRANSITION ON HEIGHT */
.bar {
    width: 50px;
    background: var(--charcoal);
    border-radius: 10px;
    position: relative;
    transition: var(--height);
    height: 0;
}
/* THIS ONE IS DONE FOR YOU */
.bar::after {
    content: attr(data-year);
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: bold;
    color: var(--white);
}

@keyframes stepUp {
    0% {
        height: 0;
    }
    100% {
        height: var(--height);
    }
}
/* ADD ANIMATION ON stepUp for 1s ease-in-out forwards */
.bar {
    animation: stepUp 1s ease-in-out forwards;
}


/* MEDIA QUERIES (MEDIUM) */ 

@media only screen and (min-width: 800px) {

    nav ul {
        overflow: visible;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: absolute;
        top: 0;
        left: -30vw;
    }

    nav li a {
        display: inline-block;
    }

    /* gets rid of burger */
    nav label span, nav input {
        display: none;
    }

    .dropdown-content {
        display: flex;
        flex-direction: row;
    }
   
    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 1vh;
        column-gap: 1vw;
        margin: 0vh 0vw;
    }

    #services section {
        margin: 0 0;
    }

        #results {
        margin-top: 2vh;
    }

    .results-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }

}


/* MEDIA QUERIES (LARGE) */

@media only screen and (min-width: 1024px) {

    body {
        max-width: 1024px;
    }

    nav ul {
        overflow: visible;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        position: absolute;
        top: 0;
        left: -30vw;

    }

    nav li a {
        display: inline-block;
    }

    /* gets rid of burger */
    nav label span, nav input {
        display: none;
    }
   
    .services-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1vh;
        column-gap: 1vw;
        margin: 0vh 0vw;
    }

        #services section {
        margin: 0 0;
    }

    #results {
        margin-top: 2vh;
    }

    .results-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .results-table {
        width: 50%;
    }
    .bar-chart {
        width: 50%;
    }

   form {
    display: grid;
    grid-template-columns: 1fr 1fr;
   }

   #submit {
    justify-content: center;
    align-items: center;
    width: 100%;
   }



}